---
layout: default
title: Daily
days:
    - "lec1"
    - "rec1"
    - "lec2"
    - "lec3"
    - "rec2"
    - "lec4"
    - "change_0917"
    - "lec5"
    - "rec3"
    - "lec6"
    - "lec7"
    - "rec4"
    - "lec8"
    - "lec9"
    - "rec5"
    - "change_1008"
    - "lec10"
    - "lec11"
    - "rec6"
    - "lec12"
    - "lec13"
    - "rec7"
    - "lec14"
    - "lec15"
    - "rec8"
    - "lec16"
    - "lec17"
    - "rec9"
    - "change_1105"
    - "lec18"
    - "lec19"
    - "rec10"
    - "lec20"
    - "lec21"``
    - "rec11"
    - "lec22"
    - "change_1121"
    - "lec23"
    - "lec24"
    - "rec12"
    - "lec25"
    - "lec26"
    - "rec13"
    - "lec27"
    - "lec28"
    - "rec14"
    - "important_1217"


---

<b>GTG</b> = <em>{{ site.book_required }}</em> {{ site.book_required_author }} <br>



<b>ODSA</b> = <a href="{{ site.book_opt_1_link }}" target="_blank">{{ site.book_opt_1 }}</a> <br><br>


<b><a href="book_problems.html" target="_blank">end of chapter problems to look at</a></b>


<br><br>

<div class="titles">
    <div class="column_date">
        Date
    </div>

    <div class="column_materials">
        Material Covered, Notes, Handouts and Links
    </div>

    <div class="column_assign">
        Readings, Assignments, Homework
    </div>
</div>

{% comment %}
{% for i in page.days reversed %}
    {% assign file_name = "daily/" | append:  i  | append: ".markdown" %}
    {% include   {{ file_name }} %}

{% endfor %}

{% endcomment %}


{% for i in page.days reversed %}
    {% assign file_name = "daily/" | append:  i  | append: ".markdown" %}
    {% capture my_include %}{% include {{ file_name }} %}{% endcapture %}
    {{ my_include | markdownify }}

{% endfor %}


<br>
<br>
