
<header>
    <h1>{{ site.title }}  </h1>
</header>


<nav>
    <ul>
        <li><a href="{{site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{site.baseurl }}/syllabus.html">Syllabus</a></li>
        <li><a href="{{site.baseurl }}/daily.html">Daily</a></li>
        <li><a href="{{site.gradescope_site}}" target="_blank">GradeScope</a></li>
        <li><a href="{{site.ed_site}}" target="_blank">Ed</a></li>
        <li><a href="{{site.baseurl }}/resources.html" target=_blank>Resources</a></li>
    </ul>
</nav>
