/* Run
 *    lessc styles.less styles.css
 * to generate the css file.
 */
/* Color schemes website:
 *     http://colorschemedesigner.com
 */
/*
Color scheme:
*/
html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0em;
  padding: 0px;
  border: 0px;
}
.hidden {
  display: none;
}
p {
  margin: 0px;
  padding: 2px;
  color: #000000;
}
a {
  color: #000033;
}
a:hover {
  text-decoration: underline;
}
h1 {
  margin: 1em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.4em;
  font-weight: bold;
  color: hsl(270, 20%, 25%);
}
h2 {
  margin: 0.75em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.3em;
  font-weight: bold;
  color: hsl(270, 20%, 25%);
}
.important h2 {
  color: white;
}
h3 {
  margin: 0.5em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.2em;
  font-weight: bold;
  color: hsl(270, 20%, 25%);
}
h4 {
  margin: 0.5em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1em;
  font-weight: bold;
  color: hsl(270, 20%, 25%);
}
.lab h1,
.lab h2,
.lab h3,
.lab h4 {
  font-size: 150%;
}
/******************************************/
header {
  background: hsl(271, 20%, 70%);
  padding: 3px 1em;
  margin: 0;
  color: hsl(270, 20%, 25%);
}
header h1 {
  margin: 0em;
  padding: 0px;
  font-size: 2em;
  font-weight: bold;
  color: hsl(270, 20%, 25%);
}
/******************************************/
nav {
  background: hsl(271, 20%, 70%);
  padding: 3px 1em;
  margin: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
  font-weight: bold;
  border: 1px solid hsl(271, 20%, 70%);
}
nav li a {
  display: block;
  color: hsl(273, 22%, 90%);
  background-color: hsl(272, 22%, 25%);
  text-align: center;
  padding: 0.5em 2em;
  text-decoration: none;
}
nav li a:hover {
  color: hsl(272, 22%, 25%);
  background-color: hsl(273, 22%, 90%);
  text-decoration: none;
}
/******************************************/
aside {
  background: hsl(271, 20%, 70%);
  width: 20%;
  float: right;
  padding: 0.25em;
}
aside h1 {
  margin: 0.25em 0.25em 0em 0em;
}
.alert {
  background-color: yellow;
  font-weight: bold;
  font-size: 1.2em;
  width: 60%;
  padding: 10px 10% 10px 10%;
}
.footnotes {
  font-size: 0.8em;
  border-style: dotted;
  border-width: 2px 0 0 0;
  border-color: #b3a3c2;
}
iframe.calendar {
  border-width: 0;
  width: 30%;
  padding: 0 2em 2em 2em;
  float: right;
}
@media (max-width: 700px), (max-device-width: 720px) {
  aside {
    display: none;
  }
  iframe.calendar {
    margin: 0;
    padding: 0 2em 2em 2em;
    float: none;
    width: 90%;
  }
}
/******************************************/
main {
  background: #FFFFFF;
  padding: 1em;
}
main hr {
  margin: 0;
  padding: 0;
  color: hsl(270, 20%, 25%);
  background-color: hsl(270, 20%, 25%);
  height: 3px;
  width: 400px;
  text-align: left;
}
main p {
  margin: 0px;
  padding: 2px;
  color: #000000;
}
main p.hang {
  padding: 2px 2px 2px 40px;
  text-indent: -32px;
}
main ul {
  margin: 0px;
  padding: 2px 2px 2px 60px;
  color: #000000;
}
main .emph {
  color: hsl(270, 20%, 25%);
  font-weight: bold;
  font-variant: small-caps;
}
.red {
  color: red;
}
.green {
  color: green;
}
.gray {
  color: LightGray;
}
.new {
  color: Purple;
  font-weight: 150%;
}
.old {
  text-decoration: line-through;
  text-decoration-color: black;
  color: LightGray;
}
main .name {
  color: hsl(270, 20%, 25%);
  font-variant: small-caps;
}
main ul {
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
  overflow: hidden;
}
main li {
  padding: 0 0 0 0em;
}
.strong {
  color: darkred;
  font-weight: bold;
  font-variant: small-caps;
}
.lab {
  max-width: 80em;
  width: 72%;
}
.lab-right {
  width: 17%;
  margin: 1em;
  padding: 1em;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: #b3a3c2;
  position: fixed;
  right: 0;
}
.lab td {
  padding: 0.1em 1em 0.1em 1em;
  vertical-align: top;
  border: 1px lightgray solid;
}
td {
  padding: 1em;
  vertical-align: top;
}
/**************/
.week {
  clear: left;
  padding-bottom: 10px;
  border: 1px solid black;
  overflow: hidden;
}
.important {
  clear: left;
  border: 1px solid black;
  overflow: hidden;
  background-color: hsl(282, 23%, 50%);
  font-weight: bold;
  color: white;
}
.change {
  clear: left;
  border: 1px solid black;
  overflow: hidden;
  background-color: hsl(280, 23%, 95%);
}
.column_one {
  vertical-align: top;
  padding: 0 0 0 1em;
}
.column_materials {
  vertical-align: top;
  padding: 0 0 0 1em;
}
.column_assign {
  vertical-align: top;
  padding: 0 0 0 1em;
}
.week_heading {
  clear: left;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  overflow: hidden;
  background-color: hsl(0, 0%, 95%);
}
.other_heading {
  clear: left;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  overflow: hidden;
}
@media (max-width: 700px) {
  .column_date {
    border-bottom: 2px dotted white;
    font-weight: bold;
  }
  .column_materials {
    border-bottom: 2px dotted white;
    padding-top: 3px;
  }
  .column_recitation {
    border-bottom: 2px dotted white;
    padding-top: 3px;
  }
  .column_assign {
    padding-top: 3px;
  }
  .lab-right {
    position: relative;
    width: 72%;
    border-style: solid;
    border-width: 2px;
    border-color: #b3a3c2;
  }
}
@media (min-width: 700px) {
  .week {
    width: 79%;
  }
  .important {
    width: 79%;
  }
  .change {
    width: 79%;
  }
  .column_one {
    margin-right: 2%;
    display: inline-block;
  }
  .column_materials {
    width: 45%;
    margin-right: 2%;
    display: inline-block;
  }
  .column_assign {
    width: 32%;
    margin-right: 2%;
    display: inline-block;
  }
}
/******************************************/
footer {
  clear: both;
  margin: 0;
  padding: 0;
  background: hsl(271, 20%, 70%);
  font-size: 0.8em;
  overflow: hidden;
}
.footerlinks {
  margin: 0;
  padding: 0.8em 0 0.8em 0.8em;
  float: left;
  width: 56%;
}
.license {
  margin: 0;
  padding: 0;
  float: right;
  width: 38%;
}
.code_title {
  font-size: 120%;
}
code {
  background-color: #63447d21;
  font-size: 110%;
}
pre code {
  background-color: #f8f8f8;
}
.highlight td {
  border: 0;
}
/* collapsible style from https://www.digitalocean.com/community/tutorials/css-collapsible */
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}
input[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
  padding: 1rem;
  margin: 1em 0 0 0 ;
  color: black;
  background: lightgray;
  cursor: pointer;
  border-radius: 1px;
  transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
  color: purple;
}
.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1000vh;
}
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.collapsible-content .content-inner {
  background: white;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}
